* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #cc9933;
    transition-duration: 0.2s;
}

a:hover {
    color: #E9C379;
}

a:focus{ 
    color: #cc9933;
    border: 1px solid #cc9933;
}

a:active {
    color: #A47312;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

html {
    font-family: 'Muller', sans-serif;
    font-size: 16px;
}

body {
    margin-top: 30px;
    background-color: #e5e5e5;
}
.container {
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    margin-left: 40px;
    margin-bottom: 30px;
    font-weight: 300;
    padding: 0px;
}

section {
    margin-top: 70px;
}

address {
    font-style: normal;
}

.btn {
    padding: 10px 13px;
    color: #cc9933;
    border: 1px solid #cc9933;
    background-color: #ffffff;
    border-radius: 10px;
    transition-duration: 0.3s;
}

.btn:active{
    background-color: #A47312;
    color: #ffffff;
}

.btn:hover, .btn:focus {
    background-color: #cc9933;
    color: #ffffff;
}

                                /* header */

.links{
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}

.logo {
    margin-right: 40px;
}

.profile {
    color: #cc9933;
    margin-left: auto;
    font-weight: 300;
    vertical-align: middle;
    /* padding-left: 25px;
    background-image: url(../img/keyboard_tab.svg);
    background-repeat: no-repeat;
    background-position: left; */
}

.tab-symbol {
    font-size: 20px;
    font-weight: bold;
    vertical-align: middle;
    
}


.profile:hover {
    color: #E9C479;
}



.profile:focus {
    border: 1px solid #cc9933;
}

.nav-list {
    display: flex;
    height: 50px;
    padding-right: 56px;
    border-right: 1px solid #e5e5e5;
    align-items: center;
}

.nav {
    display: flex;
    margin-right: auto;
    align-content: center;
    background-color: #ffffff;
    padding: 14px 45px;
    border-radius: 15px;
    align-items: center;
}

.nav-list :not(:last-child) {
    padding-right: 45px;
}

.nav-list:last-child {
    padding-right: 45px;
    
}

.nav-link, .tel {
    color: #666666;
    padding: 5px;
}

.nav-link:hover, .tel:hover{
    color: #cc9933;
}

.nav-link:active,  .tel:active {
 color: #a47312;
}

.nav-link:focus,  .tel:focus{
    color: #cc9933;
    border: 1px solid #cc9933
}

.tour {
    margin-right: 40px;
}
.buttons {
    margin-left: auto;
}

                                /* specials */

.specials {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.specials-item, .suites {
    width: 573px;
    border-radius: 15px;
    background-color: black;
    color: white;
    padding: 40px;
}

.specials-item{
    height: 258px;   
    background-repeat: no-repeat;
    background-size: 573px 258px;
}

.specials-list :not(:last-child) {
    margin-bottom: 23px;
}

.suites {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    height: 540px;
    padding-top: 0px;

    background-image: url(../img/lux_suites.jpeg);
    background-size: 573px 540px;
    background-repeat: no-repeat;
}

.specials-title {
    margin-top: 0px;
    margin-bottom: 15px;
    width: 63%;
    font-size: 40px;
    font-weight: 600;
}

.suites-title {
    margin-bottom: 15px;
    width: 66%;
    font-size: 60px;
    font-weight: 600;
    line-height: 1;
}

.specials-price {
    font-size: 20px;
    margin-bottom: 47px;
}

.suites-price {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 47px;
    line-height: 1;
}


.maldives {
    background-image: linear-gradient(to right, #30405984, transparent),
                        url(../img/maldives.jpeg);
}

.crete {
    background-image: linear-gradient(to right, #30405984, transparent),
                        url(../img/Crete.jpeg);
}

.specials-more {
    color: #ffcc66;
    padding-right: 13px;
    background-repeat: no-repeat;
    background-image: url(../img/Rectangle_another_light.svg);
    background-position: right;
}

.specials-more:active {
    color: #ffffff;
}

.arrow-symbol {
    font-size: 24px;
    font-weight: 200;
    font-style: normal;
    vertical-align: middle;
}
                            /* about */

.section-about {
    max-width: 880px;
}

                            /* services */

.services-link {
    color: #cc9933;
    font-size: 20px;
    line-height: 1.5em;
    padding-right: 13px;
    background-image: url(../img/Rectangle_dark.svg);
    background-repeat: no-repeat;
    background-position: right;
    transition: 0ms;
}

.services-link:hover{
    color: #E9C479;
    background-image: url(../img/Rectangle_light.svg);    
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
}


.services-item {
    min-height: 330px;
    width: 573px;
    padding: 180px 126px 50px 45px;
    padding-bottom: 50px;
    background-color: #ffffff;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 573px 165px;

}

.exclusive-treatment {
   background-image: url(../img/exclusive_treatment.jpeg);
     
}

.banket-halls {
    background-image: url(../img/152.jpg);
}

.sauna {
    background-image: url(../img/122.jpg);
}

.secure-parking {
    background-image: url(../img/carlo-d-agnolo-aFxSh_l4fbY-unsplash.jpg);
}

                                /* advantages */

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
}

.advantages-item {
    min-height: 275px;
    width: 275px;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 15px;
    
}

.advantages-icon {
    max-width: 66px;
}

.advantages-text {
    margin: 0px !important;
    line-height: 1.7em;

}

                                /* accomodations */
.accomodations-list {
    display: flex;
    flex-wrap: wrap; 
    gap: 23px;
}

.accomodations-item {
    height: 440px;
    width: 373px;
    background-color: #ffffff;
    border-radius: 15px;
}

.acc-block {
    display: flex;
    flex-direction: column;
    padding: 36px 46px 41px 45px;
    justify-content: space-between;
}

.acc-image {
    height: 217px;
    width: 373px;
    border-radius: 15px 15px 0px 0px;
}

.acc-main-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.acc-price {
    margin: 0px;
}

.acc-price-numbers {
    font-size: 20px;
}

.acc-rating {
	display: inline-block;
    font-size: 0;
}
.rating-star {
	font-size: 20px;
	color: lightgrey;
}
.acc-rating > span:before {
	content: '★';
}
.active {
	color: #E9CE93;
}

.weak-text {
    color: #999999;
}

.acc-place {
    margin-top: 0px;
}
.acc-rooms {
    align-self: flex-start;
}

.see-all {
    order: 100;
    background-image: url(../img/41.jpeg);
    background-repeat: no-repeat;
    display: flex;
    align-content: flex-end;
    padding-bottom: 27px;
    padding-left: 54px;
}

.see-all-link {
    color: #fff;
    padding-right: 13px;
    background-image: url(../img/Rectangle_2_white.svg);
    background-repeat: no-repeat;
    background-position: right;
    margin-top: auto;
    font-size: 20px;
    font-weight: normal;
}

.see-all-link:focus {
    background: 1px solid #fff;
    
}

.see-all-link:hover {
    color: #fff;
    font-weight: bold;
}

.see-all-link:active {
    color: #fff;
     
}

                                            /* tour */
.section-tour {
    padding: 38px 45px 71px 40px;
    background-color: #E9E9E9;
    border-radius: 15px;
    
}
.tour-header {
    margin: 0;
}
.tour-form {
    display:flex;
    flex-direction: row;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 15px;
    column-gap: 20px;
}

.form-item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.tour-form :not(:first-of-type)  {
    border-left: 1px solid #e1e1e1;
    padding-left: 20px;
}

.form-label {
    font-size: 12px;
    margin-bottom: 15px;
}

.form-input {
    background-color: #ffffff;
    border: none;
}

.short-input {
    width: 142px;
}

.form-item [type=number] {
   border-bottom: 1px solid #e1e1e1; 
}
                                            /* contact-info */


.contact-info-block {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 44px;
}

.contact-info-img {
    width: 653px;
}

.contact-info-table {
    width: 375px;
    border-collapse: collapse;
    line-height: 150%;
    margin-bottom: 45px;
}

.contact-info-tr {
    border-bottom: 1px solid #c4c4c4;
}

.contact-info-td, .contact-info-th {
    padding-top: 23px;
    padding-bottom: 23px;
    vertical-align: top;
}
.top-row {
    padding-top: 0px;
}

.contact-info-td {
    width: 230px; 
}

.contact-info-th {
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}

.contact-info-td>p {
    margin: 0px;
}

.route {
    padding: 27px 29px;
}

                                            /* footer */
.footer {
    background-color: #333333;
    color: #ffffff;
    border-radius: 15px;
    padding: 44px 51px 46px 52px;
    margin-top: 23px;
    background-image: url(../img/Слой_1.svg);
    background-repeat: no-repeat;
    background-position: bottom 0px right 176px;
}

.footer-legal-info, .footer-contact-info, .footer-socials {
   display: inline-block;
   vertical-align: top;  
}

.footer-legal-info {
    width: 320px;
    margin-right: 100px;
    line-height: 190%;
}

.footer-contact-info {
    margin-right: 250px;
    line-height: 150%;
}



.footer-socials-link {
    display: block;
    margin-bottom: 20px;
    
}

.footer-socials-icon { 
    width: 25px;
    height: 25px;
    background: #999999; 
    transition-duration: 0.2s;
}

.footer-socials-icon:hover, .footer-socials-icon:active { 
    background: #cc9933;
}

.footer-socials-icon:focus {
    background: #A47312;
}

.tripadvisor-icon {
    -webkit-mask-image: url(../img/Component25.svg);
    mask-image: url(../img/Component25.svg);
}

.twitter-icon {
    -webkit-mask-image: url(../img/twitter.svg);
    mask-image: url(../img/twitter.svg);
}

.vk-icon {
    -webkit-mask-image: url(../img/social.svg);
    mask-image: url(../img/social.svg);
}



                                            /* fonts */
@font-face {
    font-style: normal;
    font-family: Muller;
    src: url(../fonts/MullerBold.woff) format("woff"),
         url(../fonts/MullerBold.woff2) format("woff2");
    font-weight: 600;
}

@font-face {
    font-style: normal;
    font-family: Muller;
    src: url(../fonts/MullerLight.woff) format("woff"),
         url(../fonts/MullerLight.woff2) format("woff2");
    font-weight:300;
}
@font-face {
    font-style: normal;
    font-family: Muller;
    src: url(../fonts/MullerMedium.woff) format("woff"),
         url(../fonts/MullerMedium.woff2) format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: Muller;
    font-style: normal;
    src: url(../fonts/MullerRegular.woff) format("woff"),
         url(../fonts/MullerRegular.woff2) format("woff2");
    font-weight: 400;
}